.buttonsContainer {
  display: flex;
  justify-content: center;
  align-content: center;

  width: 100%;
  height: 100%;

  .mainButtons {
    width: 80%;
  }

  .sideButtons {
    display: flex;
    flex-direction: column;

    width: 20%;
  }
}

.numberButtons {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;

  height: 80%;

  .numberButtonContainer {
    height: 25%;
    width: 33.333%;
  }

  .biggerNumberButtonContainer {
    width: 66.666%;
  }
}

.numberButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    background-color: gray;
  }
}

.methodTopButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.methodButtonsRight {
  display: flex;
  flex-direction: column;

  height: 100%;
  .buttonContainer {
    height: 100%;
    button {
      background-color: orange;
    }
  }
}
