.calculator {
  width: 250px;
  height: 350px;

  border-radius: 15px;
  overflow: hidden;

  border: 0.5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
